body {
  background-color: #f7f7ee;
}

h1 {
  color: #17706e;
  font-family: Arial,sans-serif;
  /* font-size: 2.5em; */
}

h3 {
  color: #fb7813;
  font-family: Arial, sans-serif;
  margin-left: 2px;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  height: 0;
  width: 5%;
}
